@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
  --color-secondary: #8b5cf6;

  --font-sans: var(--font-sans), Inter, sans-serif;
  --font-display: var(--font-display), "Space Grotesk", sans-serif;
  --font-mono: var(--font-mono), "JetBrains Mono", monospace;
}
